<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SocialWall</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous'>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
</head>

<body>
    <div id='header'>
        <h2 class="white_text">SocialWall</h2>
    </div>
    <div class='' id='container'>
        <h1>Hey there, {{ session['first_name'] }}!  You do not have access to this area!</h1>
        <h5>Continued attempts may result in actions against your account.</h5>
        <form action="/log_out" method="POST">
            <button type="submit">Head home!</button>
        </form>
    </div>
</body>
</html>